# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.*
!.env.example

# Build
dist
build
.next

# Coverage
coverage

# IDE
.vscode
.idea

# macOS
.DS_Store

# Windows
Thumbs.db

# Docker
postgres_data
redis_data

# Misc
*.tsbuildinfo